<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.11.48" targetFramework="net45" />
  <package id="Microsoft.Web.WebView2" version="1.0.1774.30" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net45" />
  <package id="NPOI" version="2.5.6" targetFramework="net45" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net45" />
  <package id="SharpZipLib" version="1.3.3" targetFramework="net45" />
  <package id="Spire.Doc" version="11.7.0" targetFramework="net45" />
  <package id="Spire.DocViewer" version="8.5.3" targetFramework="net45" />
  <package id="Spire.Office" version="8.6.8" targetFramework="net45" />
  <package id="ZedGraph" version="5.1.6" targetFramework="net45" />
</packages>